body
{
}

p.status
{
	font-style: italic;
	font-weight: 10%;
	padding: 10px;
	margin-top: 0.3em;
	margin-bottom: 0em;
	border-width: thin;
	border-style: solid;
	border-color: lightgray;
	border-radius: 10px;
	min-height: 65px;
}

img.logo
{
	float: right;
}

div.status-progress
{
	color: #9e810c;
}

div.status-success
{
	color: #14cc1a;
}

div.status-failure
{
	color: #ad0505;
}

div.viewswitcher
{
	padding: 0.5em;
	border-width: medium;
	border-style: solid;
	border-color: lightgray;
}

/* Prime React */

.p-tabview.p-tabview-right > div.p-tabview-panels
{
	width: 85%;
}

.p-tabview.p-tabview-right > ul.p-tabview-nav
{
	width: 15%;
}

ul.p-tabview-nav li a
{
	width: 100%;
}