p.status {
	font-style: italic;
	font-weight: 10%;
	padding: 10px;
	margin-top: 0.3em;
	margin-bottom: 0em;
	border-width: thin;
	border-style: solid;
	border-color: lightgray;
	border-radius: 10px;
	min-height: 65px;
}

img.logo {
	float: right;
}

div.status-progress {
	color: #9e810c;
}

div.status-success {
	color: #14cc1a;
}

div.status-failure {
	color: #ad0505;
}

div.viewswitcher {
	padding: 0.5em;
	border-width: medium;
	border-style: solid;
	border-color: lightgray;
}

div.scrollable {
	overflow: auto;
}

/* Prime React */

.p-tabview.p-tabview-right > div.p-tabview-panels {
	width: 85%;
}

.p-tabview.p-tabview-right > ul.p-tabview-nav {
	width: 15%;
}

ul.p-tabview-nav li a {
	width: 100%;
}

.leaflet-container {
	height: 700px;
	width: 100%;
}

.leaflet-tooltip.district-label {
	background-color: white;
	border: transparent;
	box-shadow: none;
}

.leaflet-tooltip.district-label-grey {
	background-color: yellowgreen;
	border: transparent;
	box-shadow: none;
}

.gridLine path,
.gridLine line {
	fill: none;
	shape-rendering: crispedges;
	stroke: #d9d9d9;
}

.leaflet-pane .leaflet-tooltip-pane {
	z-index: 10000;
}

div.slider-reversed .p-slider .p-slider-range {
	background-color: #c8c8c8;
}

@media print {
	.noprint {
		display: none;
	}
}

.pointer {
	cursor: pointer;
}

.rdBtnContainer {
	padding-bottom: 0;
	font-size: 0.9em;
	padding-top: 0.4em;
}

.mapSlider,
.offlineMapHint {
	display: none;
}

.mapSlider.show {
	display: block;
	font-size: 0.9em;
}

.offlineMapHint.show {
	display: block;
	color: darkred;
	font-style: italic;
	font-size: 0.9em;
}

#selectDirectory {
	display: none;
}
.customSelectDirectory {
	border: 1px solid #007ad9;
	display: inline-block;
	padding: 6px 6px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #007ad9;
	color: white;
}

.transparencySlider {
	margin-top: 0.5em;
	width: 15em;
}

.leaflet-tooltip.mouseOverlayTooltip {
	background-color: lightgray;
	border: 0;
	opacity: 1;
}
.leaflet-tooltip.mouseOverlayTooltip::before {
	border-bottom-color: lightgray;
	opacity: 1;
}
