@media print {
	.noprint {
		display: none;
	}

	div.viewswitcher {
		width: 100vw;
	}

	.leaflet-control-zoom {
		display: none;
	}

	div.viewswitcher {
		border-style: none;
	}
}

@media screen {
	div.viewswitcher {
		padding: 0.5em;
		border-width: medium;
		border-style: solid;
		border-color: lightgray;
	}
}

p.status {
	font-style: italic;
	font-weight: 10%;
	padding: 10px;
	margin-top: 0.3em;
	margin-bottom: 0em;
	border-width: thin;
	border-style: solid;
	border-color: lightgray;
	border-radius: 10px;
	min-height: 65px;
}

img.logo {
	float: right;
}

div.message-notice,
div.message-success,
div.message-error,
div.message-warning {
	border-style: solid;
	border-radius: 5px;
	border-color: grey;
	border-width: 1px;
	padding: 3px;
	margin: 0px 0px 5px 0px;
}

div.message-notice {
	background-color: #aaaaff;
}

div.message-success {
	background-color: #aaffaa;
}

div.message-error {
	background-color: #ffaaaa;
}

div.message-warning {
	background-color: #ffffaa;
}

div.status-progress {
	color: #9e810c;
}

div.status-success {
	color: #14cc1a;
}

div.status-failure {
	color: #ad0505;
}

div.scrollable {
	overflow: auto;
}

.errormessage {
	font-weight: bold;
	background-color: #eeaaaa;
}

.successmessage {
	font-weight: bold;
	background-color: #aaeeaa;
}

/* Prime React */

.p-tabview.p-tabview-right > div.p-tabview-panels {
	width: 85%;
}

.p-tabview.p-tabview-right > ul.p-tabview-nav {
	width: 15%;
}

ul.p-tabview-nav li a {
	width: 100%;
}

.leaflet-container {
	height: 700px;
	width: 100%;
}

.leaflet-tooltip.district-label {
	background-color: white;
	border: transparent;
	box-shadow: none;
}

.leaflet-tooltip.district-label-grey {
	background-color: yellowgreen;
	border: transparent;
	box-shadow: none;
}

.gridLine path,
.gridLine line {
	fill: none;
	shape-rendering: crispedges;
	stroke: #d9d9d9;
}

.leaflet-pane .leaflet-tooltip-pane {
	z-index: 10000;
}

div.slider-reversed .p-slider .p-slider-range {
	background-color: #c8c8c8;
}

.pointer {
	cursor: pointer;
}

.rdBtnContainer {
	padding-bottom: 0;
	font-size: 0.9em;
	padding-top: 0.4em;
}

.mapSlider,
.offlineMapHintError {
	display: none;
}

.mapSlider.show {
	display: block;
	font-size: 0.9em;
}

.offlineMapHintError.show {
	display: block;
	color: darkred;
	font-style: italic;
}
.offlineMapHintSuccess {
	display: block;
	font-size: 0.9em;
	margin-top: 0;
}

.btnRefreshOfflineMaps {
	background-color: darkred !important;
}

#selectDirectory {
	display: none;
}
.customSelectDirectory {
	border: 1px solid #007ad9;
	display: inline-flex;
	width: fit-content;
	align-items: center;
	padding: 6px 6px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #007ad9;
	color: white;
}

.transparencySlider {
	margin-top: 0.5em;
	width: 15em;
}

.leaflet-tooltip.mouseOverlayTooltip {
	background-color: lightgray;
	border: 0;
	opacity: 1;
}
.leaflet-tooltip.mouseOverlayTooltip::before {
	border-bottom-color: lightgray;
	opacity: 1;
}

table.indexvalues {
	border-width: 2px;
	border-style: solid;
}

table.indexvalues tr {
	border-width: 2px;
	border-style: solid;
}

table.indexvalues th {
	background-color: #eeeeee;
}

table.indexvalues tr.selected td {
	background-color: #eae08c;
}

div.indexbar {
	background-color: #1879fc;
}

div.indexbar-selected {
	background-color: #eae08c;
}

div.negativebar {
	float: right;
	text-align: right;
}

.btnMapExtent {
	z-index: 1000;
	top: 70px;
	left: 10px;
	max-width: 26px;
	height: 26px;
}
